/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    background-color: #40B5AD;
	line-height: 1;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    position: relative;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    border: 1px solid red;
    text-align: center;
    font-size: 60px;
}

.nav {
    display: flex;
    justify-content: center;
}

.gameContainer {
    display: flex;
    /* position: relative; */
    margin: auto;
    max-width: 60%;
    padding: 0;
}

.towerSection {
    background-color: #F5DEB3;
    margin: 0 auto;
    border: 1px solid red;
    /* border-left: 5px solid red;
    float: right; */
    padding: 0;
    height: 35vh;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.towerPlatform {
    background-color: #6E260E;
    border: 1px solid red;
    border-radius: 5px;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
}

.towerHeight {
    background-color: #F0E68C;
    width: 30px;
    border: 1px solid red;
    font-size: 20px;
}

.aboutGame, .resetGame, .initGame, .modalClose, .winGameClose {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    background-color: #F0E68C;
    border: 1px solid red;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}

.listItem {
    padding: 2.5px;
}

.disk {
    font-size: 25px;
    border: 1px solid red;
    text-align: center;
    border-radius: 7px;
    padding: 2px;
    width: 70%;
    cursor: pointer;
}

.modalAboutGame, .winGame {
    background-color: rgba(0,0,0,0.4);
    font-size: 15px;
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

.modalTextbox, .winGameTextbox {
    background-color: #E1C16E;
    height: 200px;
    width: 600px;
    border: 1px solid red;
    border-radius: 7px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.rulesHeader, .modalFooter {
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rules {
    list-style: decimal;
    list-style-position: inside;
    padding: 0px;
}

.modalClose, .winGameClose {
    border: 1px solid red;
}

.winHeader {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.winGameClose {
    align-items: center;
}

.counter {
    font-size: 35px;
    text-align: center;
}

@media (max-width: 900px) {
    .gameContainer, .towerPlatform {
        max-width: 100%;
    }
}