/* * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

.gameContainer {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 0;
}

.towerSection {
    margin: auto;
    /* border: solid red; */
    padding: 0;
}